<!DOCTYPE html>
<html>
<head>
    <title>AI Interview Simulator</title>
    <link rel="stylesheet" href="/static/style.css">

    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="bg"></div>

<div class="app">

    <h1>🚀 AI Interview Simulator</h1>

    <div class="controls">
        <select id="role">
            <option value="python">Python Developer</option>
            <option value="java">Java Developer</option>
            <option value="frontend">Frontend Developer</option>
            <option value="backend">Backend Developer</option>
            <option value="fullstack">Full Stack Developer</option>
            <option value="data_analyst">Data Analyst</option>
            <option value="data_scientist">Data Scientist</option>
           
